/* USER PROFILE */
.dashbord{
    display: grid;
    grid-template-columns: 200px auto;
}
.dashbord-menu{}
.dashbord-content{
    min-height: 90vh;
    background-color: #37373718;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MENU */
.menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
}
.menu-button{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px;
}
.menu-button:hover{
    background-color: #373737;
}
.menu-icon{
    margin-right: 15px;
}


/* => MOBILE */
@media only screen and (max-width: 600px) {
    .dashbord{
        display: flex;
    }
    .dashbord-menu{
        display: none;
    }
    .dashbord-content{
        width: 100vw;
    }
}


/* Logout */
.logout-btn{
    background-color: red;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.logout-btn:hover{
    background-color: #ff0000ae;
    
}

/* ORDER */
.dashbord-order-product-card{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: aliceblue;
    align-items: center;
    margin: 10px 0;
    width: 70vw;
}
.dashbord-order-product-text div{
    margin: 5px 0;
}
.dashbord-order-product-image{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.dashbord-order-product-card-left{
    display: flex;
}
.dashbord-order-product-payment{
    font-size: 14px;
}
.dashbord-order-product-price{
    font-size: 18px;
}
.dashbord-order-product-remove{
    background-color: red;
    color: black;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}


.dashbord-order-cancle-select{
    padding: 10px 15px;
    width: 250px;
    font-size: 15px;
}
.order-product-status{
    display: flex;
    align-items: center;
    text-align: center;
}
.order-product-status-icon-cancle{
    color: red;
    padding-left: 10px;
}
.order-product-status-icon{
    color: green;
    margin: 0 5px;
}
.dashbord-order-not-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.dashbord-order-not-card-title{
    font-size: 20px;
    font-weight: 550;
}
.dashbord-order-not-card-img{
    width: 80vw;
    max-width: 400px;
    margin-bottom: 20px;
}

/* => MOBILE */
@media only screen and (max-width: 600px) {
    .dashbord-order-product-card{
        width: 96vw;
    }
    .dashbord-order-product-text div{
        margin: 5px 0;
    }
    .dashbord-order-product-card-left{
        display: flex;
        flex-direction: column;
    }
    .dashbord-order-product-image{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .dashbord-order-product-price{
        font-size: 16px;
    }
    .dashbord-order-product-text{
        padding: 10px;
    }
    .dashbord-order-product-remove{
        position: absolute;
        right: 5px;
        margin-bottom: 150px;
    }
    
  }



/* ADMIN DASHBORD */
.chart-m-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.chart-m-box{
    background-color: white;
    margin: 0 10px;
    padding: 10px;
    height: 120px;
}
.chart-m-box-heading{
    font-size: 20px;
    font-weight: 900;
    opacity: 0.5;
}
.chart-m-box-price{
    font-size: 20px;
    font-weight: 600;
}
.chart-m-box-graph{
    width: 100%;
}

/* all admin */
.dashbord-menu-total{
    width: 100%;
    background-color: #37373773;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    opacity: 0.7;
}
.dashbord-menu-box{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.dashbord-menu-box-card{
    margin: 10px 0;
    padding: 15px 10px;
    background-color: #b0f996;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    grid-gap: 20px;
    font-size: 16px;
}
.dashbord-menu-box-card-delete{
    font-size: 25px;
    cursor: pointer;
    padding: 0 30px;
}


/* PRODUCT */
.dashbord-admin-product-contain{
    min-height: 90vh;
    background-image: linear-gradient(135deg, #f5a9fe, #b0f996);
}
.dashbord-form-heading{
    background-color: #373737;
    color: white;
    opacity: 0.7;
    text-align: center;
    padding: 10px 0;
}
.dashbord-admin-product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-control-select{
    width: 345px;
    height: 40px;
    margin: 10px;
}
.form-control{
    margin: 10px;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
}
.form-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;

}
.form-submit button{
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #0786f5;
    color: white;
    cursor: pointer;
}
.dashbord-admin-product-card{
    margin: 10px;
}
.dashbord-admin-product-image{
    margin-top: 10px;
    width: 80px;
}


/* ADMIN PRODUCT */

/* PRODUCT */

.product-slider-contoner{
    background-color: #d2d0d0;
    margin: 50px 50px;
    padding: 20px;
}
.slider-p-image{
    width: 15vw;
    height: 20vw;
    min-width: 100px;
    min-height: 100px;
    object-fit: contain;
}





/* ALL PRODUCT */
.dashbord-product-box{
    display: grid;
    grid-gap: 15px;
    margin: 15px 5vw 0 5vw;
}
.dashbord-product-box-card{
    box-shadow: 0 0 3px 4px #00000026;
    text-decoration: none;
    color: black;
    padding: 10px 10px 20px 10px;
}
.dashbord-product-box-image-main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.dashbord-product-box-image{
    width: 90%;
    /* min-height: 70%; */
    object-fit: contain;
    transition: 0.3s;
}
.dashbord-product-box-image:hover{
    scale: 1.1;
}

.dashbord-product-box-text{
}
.dashbord-product-box-title{
    opacity: 0.8;
    font-size: 14px;
    font-weight: 550;
}
.dashbord-product-box-price{
    font-size: 18px;
    font-weight: 600;
}





/* => VERY LARGE DISPLAY */
@media screen and (min-width: 1281px) {
    .dashbord-product-box{
        grid-template-columns: repeat(5,1fr);
    }
    .dashbord-product-box-image-main{
        height: 20vw;
    }

}

  /* => DESTOPS */
@media only screen and (max-width: 1280px) {
    .dashbord-product-box{
        grid-template-columns: repeat(4,1fr);
    }
    .dashbord-product-box-image-main{
        height: 20vw;
    }
  }

  /* => TABLETS  and PADS */
@media only screen and (max-width: 920px) {
    .dashbord-product-box{
        grid-template-columns: repeat(3,1fr);
    }
    .dashbord-product-box-image-main{
        height: 25vw;
    }
    .dashbord-product-box-title{
        font-size: 13px !important;
    }
  }

/* => MOBILE */
@media only screen and (max-width: 600px) {
    .dashbord-product-box{
        grid-template-columns: repeat(2,1fr);
    }
    .dashbord-product-box-image-main{
        height: 60vw;
    }
    .dashbord-product-box-title{
        font-size: 12px !important;
    }
    .dashbord-product-box-price{
        font-size: 15px !important;
    }
  }


/* ALL ORDERS */
.dashbord-admin-order-content{}
.dashbord-admin-order-card{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    background-color: #eafffb;
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0 0 6px 2px rgb(138, 138, 138);
}
.dashbord-admin-order-image-main{
    align-items: center;
    width: 250px;
    height: 200px;
}
.dashbord-admin-order-image{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
.dashbord-admin-order-text div{
    margin: 5px 0;
}
.dashbord-admin-order-text{
    min-width: 290px;
}
.dashbord-admin-order-id{
    color: #004ec4;
    padding-bottom: 15px;
}
.dashbord-admin-order-title{
    font-weight: 600;
    opacity: 0.8;
}
.dashbord-admin-order-price{
    font-size: 18px;
    font-weight: 550;
}
.dashbord-admin-order-payment{}
.dashbord-admin-order-date{}
.dashbord-admin-order-status{}
.dashbord-admin-order-status-select{
    width: 150px;
    height: 25px;
    margin-left: 10px;
}
.dashbord-admin-order-user{}
.dashbord-admin-order-user-name{}
.dashbord-admin-order-user-phone{}
.dashbord-admin-order-user-home{}