/* USER PROFILE */
.dashbord{
    display: grid;
    grid-template-columns: 200px auto;
}
.dashbord-menu{}
.dashbord-content{
    min-height: 90vh;
    background-color: #37373718;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #f5a9fe, #b0f996);
}


/* MENU */
.menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 20px 10px 20px;
}
.menu-button{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px;
}
.menu-button:hover{
    background-color: #373737;
}
.menu-icon{
    margin-right: 15px;
}


/* => MOBILE */
@media only screen and (max-width: 600px) {
    .dashbord{
        display: flex;
        flex-direction: column;
    }
}


/* Logout */
.logout-btn{
    background-color: red;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.logout-btn:hover{
    background-color: #ff0000ae;
    
}

/* ORDER */
.dashbord-order-cancle-select{
    padding: 10px 15px;
    width: 250px;
    font-size: 15px;
}
.order-product-status{
    display: flex;
    align-items: center;
    text-align: center;
}
.order-product-status-icon-cancle{
    color: red;
    margin-left: 5px;
}
.order-product-status-icon{
    color: green;
    margin: 0 5px;
}

/* ADMIN DASHBORD */
.chart-m-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.chart-m-box{
    background-color: white;
    margin: 0 10px;
    padding: 10px;
    height: 120px;
}
.chart-m-box-heading{
    font-size: 20px;
    font-weight: 900;
    opacity: 0.5;
}
.chart-m-box-price{
    font-size: 20px;
    font-weight: 600;
}
.chart-m-box-graph{
    width: 100%;
}

/* all admin */
.dashbord-menu-total{
    width: 100%;
    background-color: #37373773;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    opacity: 0.7;
}
.dashbord-menu-box{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.dashbord-menu-box-card{
    margin: 10px 0;
    padding: 15px 10px;
    background-color: #b0f996;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    grid-gap: 20px;
    font-size: 16px;
}
.dashbord-menu-box-card-delete{
    font-size: 25px;
    cursor: pointer;
    padding: 0 30px;
}